.clock_bg {
  height: 1.6em;
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  width: 6.5em;
  margin: 0.1em;
}

.clock_main {
  position: absolute;
  width: 6.5em;
}

.clock_main table {
  position: relative;
  top: -0.6em;
  left: -1em;
}

.clock_main img {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.15em;
  left: 0.3em;
}

.clock_main p {
  color: black;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 1px;
  position: relative;
  top: 0.2em;
  left: 0.7em;
}
