@import "./assets/css-vars.scss";

.App {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  font-family: "Pixel";

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
        
}
