.taskBar_bg {
  height: 1.6em;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 5em;
  margin: 0.1em;
}

.taskBar_main {
  position: absolute;
}

.taskBar_main table {
  position: relative;
  top: -0.6em;
  left: -0.3em;
}

.taskBar_main img {
  width: 1.5em;
  height: 1.5em;
  position: relative;
}

.taskBar_main p {
  color: black;
  font-weight: 900;
  font-size: 0.9em;
  letter-spacing: 1px;
  position: relative;
  top: -0.1em;
}
