.startButton_bg {
  height: 1.55em;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 5em;
  margin: 0.1em;
}

.startButton_bg_activated {
  height: 1.55em;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  width: 5em;
  margin: 0.1em;
}

.startButton_main {
  position: absolute;
  height: 1.9em;
  cursor: default;
}

.startButton {
  left: -0.3em;
  padding: 0px;
  margin: 0px;
  border-spacing: 0;
  border: 0px;
  border-collapse: collapse;
  position: relative;
  top: -0.5em;
}

.startButton img {
  width: 1.5em;
  height: 1.5em;
  position: relative;
}

.taskBar_main p {
  color: black;
  font-weight: 900;
  font-size: 0.9em;
  letter-spacing: 1px;
  position: relative;
  top: -0.1em;
}
