.OS_bg {
  background-color: #017e7e;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 4px;
}

.startMenu_container {
  position: absolute;
  bottom: 1.9em;
  z-index: 90;
}

.startMenu_container_HIDDEN {
  position: absolute;
  bottom: 1.9em;
  z-index: 90;
  visibility: hidden;
}
