@import "../../assets/css-vars.scss";

.desktop-wrapper {
    position:relative;
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

.desktop-content-wrapper {
    position: relative;
    top: 10%;
    background-color: var(--desktop-green);
    height: 80%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .desktop-wrapper {
        position:relative;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    
    .desktop-content-wrapper {
        position: relative;
        top: 0em;
        background-color: var(--desktop-green);
        height: 100%;
        width: 100%;
    }
}